<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <script type="text/javascript"> document.addEventListener('click', function(e) { if(document.activeElement.toString() == '[object HTMLButtonElement]'){ document.activeElement.blur(); } }); </script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/style.css">

        <!-- Color theme for statusbar -->
        <meta name="theme-color" content="#2196f3">

        <title>Flashcards</title>
    </head>

    <body onload="onLoad()">

        <div id="tabs">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="science-tab" data-toggle="tab" href="#science" onclick="change('science')">Science</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="gre-tab" data-toggle="tab" href="#gre" onclick="change('gre')">GRE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="safety-tab" data-toggle="tab" href="#safety" onclick="change('safety')">Safety</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="random-tab" data-toggle="tab" href="#random" onclick="change('random')">Random</a>
                </li>
            </ul>
        </div>

        <div id="container">
            <div class="buttons">
                <button class="btn btn-lg btn-outline-success element-front" data-toggle="modal" data-target="#hintModal" onclick="hint()">Hint</button>
                <button class="btn btn-lg btn-outline-warning element-back" data-toggle="modal" data-target="#explanationModal" onclick="explanation()">Explanation</button>
            </div>
            <div class="card">
                <div class="card-body" onclick="flip()">
                    <p id="front" class="element-front">This is the front of the card.</p>
                    <p id="back" class="element-back">This is the back of the card.</p>
                    <div class="footer">
                        <p class="text-muted">(tap the card to flip)</p>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button class="btn btn-lg btn-primary" onclick="got_it()">Got it</button>
                <button class="btn btn-lg btn-primary" onclick="not_got_it()">I don't know</button>
            </div>
        </div>

        <div id="username" class="footer">
            <p>Logging data as <span id="userLabel" class="bold">anonymous</span>
        </div>

        <div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Hint</h5>
                    </div>
                    <div id="hint" class="modal-body">
                        This is a hint.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="explanationModal" tabindex="-1" role="dialog" aria-labelledby="explanationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Explanation</h5>
                    </div>
                    <div id="explanation" class="modal-body">
                        This is an explanation.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Set User Name</h5>
                    </div>
                    <div id="explanation" class="modal-body">
                        <p>Hi, we are a group of researchers from Stanford University Computer Science Department. </p>
                        <p>This is the name used to collect data about your flashcard app usage. Your data will only be used for research purposes.</p>
                        <form>
                            <div class="form-group">
                                <input class="form-control" id="firstname" placeholder="First name" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="lastname" placeholder="Last name" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-success" data-dismiss="modal" onclick="save()">save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- JavaScript -->
        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>

        <script src="../static/js/fastclick.js"></script>
        <script src="../static/js/logger.js"></script>
        <script src="../static/js/script.js"></script>

    </body>
</html>
